.App {
  text-align: center;
  display: grid;
  grid-template-areas: 'header' 'content' 'footer';
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  grid-area: header;
}

.App-market {
  height: 100px;
  background-color: white;
}

.App-content {
  grid-area: content;
}

.App-footer {
  grid-area: footer;
}

.App-link {
  color: #61dafb;
}
