.App {
  text-align: center;
  display: grid;
  grid-template-areas: 'header' 'navigator' 'content' 'footer';
}

.App-header {
  background-color: #ffffff;
  justify-content: center;
  grid-area: header;
}

.App-navigator {
  grid-area: navigator;
}

.App-market {
  height: 100px;
  background-color: white;
}

.App-content {
  grid-area: content;
}

.App-footer {
  grid-area: footer;
}

.App-link {
  color: #61dafb;
}
